.emailList {
    flex: 1;
    overflow: scroll;
}

.emailList::-webkit-scrollbar{
    display: none;
}

.emailList {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.emailList__settings {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}

.emailList__sections {
    position: sticky;
    top: 0;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}

.emailList__list {
    padding-bottom: 20%;
} 

.emailList__more{
    color: #000;
    text-align: center;
    border: none;
    outline: none;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    font-weight: bolder;
}