.app {
    height: 100vh;
}

.app__body{
    display: flex;
    height: 100vh;
}


.ck-editor__editable {
    height: 40vh !important;
    border: none !important;
}

.ck-toolbar {
    background-color: black;
    border: none !important;
}

.ck-editor {
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .app__body {
        display: flex;
        height: 100vh;
        width: 100%;
    }
}