.sendChat {
    position: absolute;
    bottom: 0;
    right: 50px;
    background-color: #404040;
    width: 40%;
    height: 65%;
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    box-shadow: 0px 5px 7px 8px rgba(0,0,0,0.24);
}

.sendChat__header {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    color: gray;
}

.sendChat__header > h3 {
    color: whitesmoke;
    font-size: 13px;
}

.sendChat__chats{
    background-color: white;
    padding: 13px;
    display: flex;
    flex-direction: row;
}

.sendChat__chats_1{
    background-color: white;
    padding: 13px;
    display: flex;
    flex-direction: row;
}

.sendChat__chattime{
    background-color: white;
}

.sendChat__send{
    backdrop-filter: #3079ed !important;
    text-transform: capitalize !important;
    margin: 15px !important;
}

.sendChat__close{
    cursor: pointer;
}

.sendChat > form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.sendChat > form > input {
    height: 10px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
}

.sendChat__message {
    flex: 1;
}

.sendChat__error{
    background-color: white;
    color: red;
    text-align: right;
    padding: 2px;
    font-size: xx-small;
}